<mat-toolbar>
  <button
    color="primary"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title$ | ngrxPush }} Detail</span>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer
    #drawer
    mode="side"
    opened="true">
    <mat-nav-list>
      <a
        #summaryRla="routerLinkActive"
        mat-list-item
        routerLink="detail"
        routerLinkActive
        [activated]="summaryRla.isActive">
        Summary
      </a>
      <a
        #attestationsRla="routerLinkActive"
        mat-list-item
        routerLink="security"
        routerLinkActive
        [activated]="attestationsRla.isActive">
        Attestations
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div
      class="rw-drawer-content"
      [@routeAnimations]="ro?.activatedRouteData?.['animation']">
      <router-outlet #ro="outlet"></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
