<mat-drawer-container>
  <mat-drawer
    #drawer
    mode="side"
    opened="true">
    <mat-nav-list>
      <a
        #accountRla="routerLinkActive"
        mat-list-item
        routerLink="detail"
        routerLinkActive
        [activated]="accountRla.isActive">
        Summary
      </a>
      <a
        #securityRla="routerLinkActive"
        mat-list-item
        routerLink="security"
        routerLinkActive
        [activated]="securityRla.isActive">
        Attestations
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div
      class="rw-settings-content"
      [@routeAnimations]="ro?.activatedRouteData?.['animation']">
      <router-outlet #ro="outlet"></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
