<mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    #input
    matInput
    placeholder="Filter..."
    (keyup)="applyFilter($event)" />
  <mat-icon matSuffix>filter_list</mat-icon>
</mat-form-field>

<mat-table
  class="mat-elevation-z8"
  recycleRows
  [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
