<rw-ui-route-progress-bar></rw-ui-route-progress-bar>
<header>
  <a
    mat-button
    routerLink="/home"
    ariaCurrentWhenActive="page"
    i18n="@@header.title"
    class="app-header-title">
    Roctavian EUMEA Call Center Portal
  </a>
  <rw-ui-navbar *ngIf="isAuthenticated$ | async">
    <ng-container *ngFor="let route of routes">
      <rw-ui-navbar-item
        *rwIfHasRole="route?.role"
        [route]="route"></rw-ui-navbar-item>
    </ng-container>
  </rw-ui-navbar>
  <div class="app-header-content-center">
    <ng-content></ng-content>
  </div>
  <!-- <rw-locale-select></rw-locale-select> -->
  <rw-profile-menu *ngIf="isAuthenticated$ | async"></rw-profile-menu>
</header>
