@use 'layout/layout-variables' as layout-vars;
@use 'colors' as colors;

:host {
  ::ng-deep .mdc-button {
    font-size: 1em;
  }
}

header {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  align-items: center;
  column-gap: 20px;
  height: layout-vars.$header-height;
  padding: layout-vars.$header-padding;
  background: colors.$header-background;
  color: colors.$header-color;
}

.app-header-title {
  font-size: 1.25em;
  font-weight: normal;
}

.app-header-content-center {
  display: flex;
  flex-grow: 1;
}

a.mat-mdc-button:not(:disabled) {
  color: colors.$header-color;
}
