<mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    #input
    matInput
    placeholder="Filter..."
    (keyup)="applyFilter($event)" />
  <mat-icon matSuffix>filter_list</mat-icon>
</mat-form-field>

<mat-table
  class="mat-elevation-z8"
  matSort
  recycleRows
  [dataSource]="data">
  <ng-container matColumnDef="id">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header>
      ID
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="nationalId">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header>
      National ID
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.nationalId }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator></mat-paginator>
